#navbar {    
    position: fixed;
    top: 0;
    left: 0;
    width: 175px;
    min-width: 150px;
    height: 100%;
    padding: 40px 0 0 0;
    border: 2px solid;
    text-align: center;
}

#logo {
    width: 80px;
    height: 80px;
    display: relative;
    margin:;    
}

#main-doc {
    margin-left: 200px;
}

.titles {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    text-align: justify;
}

.nav-link {
    text-decoration: none;
    text-align: 
}



@media (max-width: 780px) {
    #navbar {    
        position: relative;
        margin: 0 auto;
        padding-top: 20px;
        width: 95%;
    }
    
    #main-doc {
        margin: 0 auto;
        width: 95%;
    }

}